* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    padding: 60px;
    background: #eceef0;
    color: rgb(87, 166, 192);
  }

  .header h1{
      display: inline-block;
      font-size: 48px;
  }
  
.header div ul li{
    display: inline-block;
    margin-left: 30px;

}
aside {
    flex: 1;
    background-color: #eceef0;
    padding: 80px;
    text-align: left;
  }
  

  .footer aside h1 {
    font-size: 48px;
     border-spacing: 20px;
  }

  .footer div {
    display: inline-block;
  }

  .footer ul li {
    display: inline-block;
    margin-inline-end: 160px; 
  }

  .about {
      width: 20%;
      max-width: 30%;
      float: left;
  }

  .about h1 {
    text-align: right;
    font-size: 48px;
    margin-right: 15px;
   }

   .about-details {
        border-left: 8px solid #000;
        padding-left: 20px;
        float: left;
        width: 60%;
        max-width: 60%;
        text-align: justify;
        font-size: 14px;
        color: #000;
   }

   .work-details {
        border-left: 8px solid #000;
        padding-left: 20px;
        float: left;
        width: 60%;
        max-width: 60%;
        text-align: justify;
        font-size: 14px;
   }

   .images-tiles {
    width: 50%;
    float: left;
    position: relative;
    font-family: Arial;
   }


   .images-tiles img{
    width: 50%;
    float: left;
    max-height: 300px;
   }

  .pad-left {
        padding-left: 20px;    
   }

   .work {
    width: 30%;
    max-width: 30%;
    float: left;
}

.work h1 {
  text-align: right;
  font-size: 48px;
  margin-right: 15px;
 }
 .work .card {
    border-left: 8px solid #000;
    padding-left: 20px;
    float: left;
    width: 60%;
    max-width: 60%;
    text-align: justify;
    font-size: 14px;
    color: #000;
}

section {
  width: 100%;
}

.work-images-main {
  width: 70%;
  float: left;
}

.main-image {
  width: 100%;
  display: flex;
  position: relative;
  font-family: Arial;
}

.main-image img {
  width: 100%;
}

.main-work-images {
  width: 100%;
}

.margin-top1 {
  width: 100%;
  display: flex;
}

.margin-top1 img {
  width: 100%;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}